<%= turbo_frame_tag 'new_record_component', class: 'flex gap-3 items-center' do %>
    <%= form_with(model: book, class: 'flex gap-2 items-center') do |form| %>
      <% if book.errors.any? %>
        <% book.errors.each do |error| %>
          <span class="text-red-500 text-xs font-semibold"><%= error.full_message %></span>
        <% end %>
      <% end %>
  
      <div class="flex items-center gap-1">
        <%= form.label :name, class: 'text-xs font-semibold text-indigo-500' %>
        <%= form.text_field :name, class: 'rounded p-1 text-xs border border-indigo-300 focus:ring focus:ring-indigo-300' %>
      </div>
  
      <div class="flex items-center gap-1">
        <%= form.label :price, class: 'text-xs font-semibold text-indigo-500' %>
        <%= form.number_field :price, in: 1.0..100.0, step: :any, class: 'rounded p-1 text-xs border border-indigo-300 focus:ring focus:ring-indigo-400' %>
      </div>
  
      <div class="flex items-center gap-1">
        <%= form.submit class: 'text-xs font-semibold p-1 bg-indigo-600 hover:bg-indigo-700 text-white rounded shadow' %>
        <%= link_to 'Cancel', :back, class: 'text-xs font-semibold p-1 bg-red-300 hover:bg-red-600 text-white rounded shadow' %>
      </div>
    <% end %>
  <% end %>
  