<div data-controller="book" data-book-sells="<%= latest_sells(book.id) %>" data-book-id="<%= book.id %>"  data-book-name="<%= book.name %>" id="book_<%= book.id %>" >
  <canvas id="book_chart_<%= book.id %>" style="width:100%;max-width:700px"></canvas>
</div>